<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div></div>
    <h1>About</h1>
    <img src="./film__9643-beethoven--hi_res-01949bed.jpg" alt="">
    <p>The Newton family live in their comfortable home, but there seems to something missing. This "hole" is filled by a small puppy, who walks into their home and their lives. Beethoven, as he is named, grows into a giant of a dog...a St Bernard. Dr. Herman Varnick, the local vet, has a secret and horrible sideline which requires lots of dogs for experiments. Beethoven is on his list</p>
    
</body>
</html>