<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bethowen</title>
    <link><rel="stylesheet" herf="style.css">
</head>
<body>
   <div></div> 
   <h1>Cute dog</h1>
   <img src="./Beethoven'1992.jpg" alt="">
   <p>The film is set in California, but the park scenes were filmed in Montana at Glacier National Park.[4] The house used as the Newtons' vacation home is located on Milan Avenue in South Pasadena</p>
   <a href="./works.html">works</a> <a href="./about.html">about</a> 
   
    
   </body>
   </head>
   </html>